section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  padding: 15px;
  margin: 20px 15px;
  border: 10px solid rgb(24, 24, 124); 
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
}
